<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 	<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hiberutil</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.archive.autodetection">class</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hbm2ddl.import_files">initial_data.sql</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping class="com.yajgss.user.Group" />
		<mapping class="com.yajgss.user.Role" />
		<mapping class="com.yajgss.user.Student" />
        <mapping class="com.yajgss.user.StudentDetail" />
        <mapping class="com.yajgss.user.StudentAddress" />
        <mapping class="com.yajgss.user.StudentRecord" />
		<mapping class="com.yajgss.user.StudentGroup" />
		<mapping class="com.yajgss.user.StudentGroupId" />
	</session-factory>
</hibernate-configuration>